USE [GDS2]
GO
/****** Object:  Table [archive].[Driver_Archive]    Script Date: 24.07.2023 19:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [archive].[Driver_Archive](
	[id] [bigint] NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[FullName] [varchar](255) NOT NULL,
	[ExternalCode] [varchar](255) NOT NULL,
	[RecordDate] [datetime] NOT NULL,
	[TelefonNummer] [varchar](150) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[ValidFrom] [datetime2](7) NOT NULL,
	[ValidTo] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [ix_Driver_Archive]    Script Date: 24.07.2023 19:58:41 ******/
CREATE CLUSTERED INDEX [ix_Driver_Archive] ON [archive].[Driver_Archive]
(
	[ValidTo] ASC,
	[ValidFrom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
